aside {
  display: none;
}

h1 {
  color: #ff0000;
  text-transform: uppercase; 
  text-align: center
}

h2 {
  color: #013220; 
  text-transform: uppercase;
}

section {
  background-color: #808080;
}

header {
  background-color: #D3D3D3;
}
